/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
}

.header__menu {
  display: flex;  
  list-style: circle;
  gap: 7px;
  padding-left: 50px;
}

.header__menu-list {
  display:flex;
  gap: 30px;  
  justify-self: flex-start;
}

.header__menu-list-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;  
  list-style: circle;
  padding-left: 2px;
}
.header__menu-list-item_no-bullit {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  list-style: none;
}

.header__menu-list-active {
  text-decoration: none;
}

.header__menu-list-inactive {
  text-underline-offset: 4px;
}

.header__menu__item {
  margin-left: 10px;
}

.header__logo {
  display: block;
  height: 100px;
  width: 130px;
}
.header__address {
  padding-left: 198px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;  
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;  
}
.header__address-item {
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1100px;
  height: 757px;
  padding: 160px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 180px;

}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;  
  color: #FFFFFF; 
  z-index: 1; 
}

.aligned-text {
  display: block;
}

.aligned-text_left {  
  text-align: left;
}

.aligned-text_center {  
  text-align: left;
  padding-left: 332px;  
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
  line-height: 134%;
}

.no-letter-spacing {
  letter-spacing: 0;
  line-height: 134%
}

.cover__description {  
  display: flex;  
  align-items: center;  
  padding: 160px 50px 51px; 
}

.cover__description-text {
  font-size: 22px;
  color: white;
  word-spacing: 0.85em;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 2px;
  padding-left: 0;
  white-space: nowrap;
  z-index: 1;
  margin-top: 20px;
}

.bet-button {
  height: 51px;
  width: 256px;
  border: 1px solid white; 
  background: transparent;
  font-size: 22px;
  color: white;
  text-transform: uppercase;  
  z-index: 1;
  margin-top:10px;    
}

.description {
  margin-top: 85px;
  display: flex;
  width: 1000px;
  height: 51px;
  justify-content: space-between;
}

.lots  {
  margin-bottom: 120px;
  margin-left: 24px;
  width: 1052px;
  height: 723px;
}

.lots__heading {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 5px;
  margin-top: 45px;
  margin-left: 40px;
}

.lots__card-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 1052px;
  height: 596px; 
}

.lots__card-list-item {
  position: relative;
  list-style: none;
}

.card-link {  
  font-family: Raleway;
  font-weight: 700;  
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #FFFFFF;
  z-index: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  font-family: Raleway;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  color: #FFFFFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;  
  line-height: 1.2; 
  z-index: 1;
}

.card__details {
  display:inline-block;
}

.lots__look-more-link {
  font-family: Raleway;
  font-weight: 400;  
  font-size: 20px;  
  line-height: 100%;  
  display: block;
  margin-top: 35px;
  margin-left: 35px;  
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 275px 1fr;  
  width: 1052px;
  min-height: 595px;
  margin: 0 24px 120px;
}

.about__column {
  grid-row: span 2;  
  padding-top: 35px;
  justify-self: center;
}

.about__column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin-top: 50px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 60%;
  height: auto;
}

.about__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align:left;
  padding-left: 23px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Raleway;
  font-weight: 400;  
  font-size: 20px;  
  /* line-height: 24px; */
  padding-left: 23px;
  padding-right: 30px;
  padding-top: 7px;
  line-height: 1.25;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 180px;
  gap: 20px;
}

.footer__menu {
  justify-self: center;
} 

.footer_contacts {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  justify-self:start;
  align-self: center;
  padding-left: 50px;
  padding-top: 40px;
  width: 320px;
  height: auto;
  list-style-type: none;
  text-overflow: clip;
}

.footer__menu-list {
  list-style: none;
  padding-top: 60px;
}

.footer__menu-list-item {  
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: normal;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  padding-top: 60px;
  padding-right: 50px;
  display: flex;
  justify-self: end; 
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;  
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
  height: 48px;
}