/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 0 93px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  /* list-style: circle; */

  /* gap: 7px;   */
}

.header__menu-list {
  display:flex;
  padding-left: 50px;
  gap: 32px;
  justify-self: flex-start;
}

.header__menu-list-item {
  list-style: circle;
  padding-left: 0px;
}

.header__menu-link {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style:normal;
}

.header__menu-list-item_no-bullit {
  font-family:  'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  list-style: none;
}

.header__menu-link-active {
  text-decoration: none;
}

.header__menu-link-inactive {
  text-underline-offset: 3px;
}

.header__menu__item {
  margin-left: 10px;
}

.header__logo {
  display: block;
  padding-top: 4px;
  height: 110px;
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
}

.address__header {
  padding-left: 195px;
  padding-top: 2px;
}

.address-list {
  list-style-type: none;
}

.address-list__header {
  padding-right: 39px;
}

.address-item {
  text-underline-offset: 3px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1100px;
  min-height: 757px;
  padding: 157px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 179px;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  font-family:  'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: left;
  padding-left: 330px;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
  line-height: 134%;
}

.no-letter-spacing {
  letter-spacing: 0;
  line-height: 134%
}

.cover__description {
  display: flex;
  align-items: center;
  padding: 160px 50px 51px;
}

.cover__description-text {
  font-size: 22px;
  color: white;
  word-spacing: 0.85em;
  font-weight: normal;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-left: 0;
  white-space: nowrap;
  z-index: 1;
  margin-top: 20px;
}

.bet-button {
  height: 50.5px;
  width: 256px;
  border: 1px solid currentColor;
  background: transparent;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  z-index: 1;
  margin-top:16px;
}

.description {
  margin-top: 81px;
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.lots {
  margin-bottom: 120px;
  margin-left: 24px;
  width: 1052px;
}

.lots__heading {
  display: block;
  font-family:  'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 7px;
  margin-top: 45px;
  margin-left: 39px;
}

.lots__card-list {
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 1052px;
}

.lots__card-list-item {
  position: relative;
  list-style: none;
}

.card-link {
  font-family:  'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #FFFFFF;
  z-index: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  font-family: 'Raleway', 'Arial', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  color: #FFFFFF;
  font-family:  'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.card__details {
  display:inline-block;
}

.lots__look-more-link {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  display: block;
  margin-top: 32px;
  margin-left: 38px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 275px 1fr;
  width: 1052px;
  margin: 0 24px 120px;
}

.about__column {
  grid-row: span 2;
  padding-top: 36px;
  justify-self: center;
}

.about__column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin-top: 45px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 62%;
  height: 66%;
}

.about__title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align:left;
  padding-left: 25px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-left: 23px;
  padding-right: 30px;
  padding-top: 7px;
  line-height: 1.25;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 238px;
  gap: 20px;
}

.footer__menu {
  justify-self: center;
}

.footer_contacts {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  justify-self: start;
  align-self: center;
  padding-top: 40px;
  width: 320px;
  height: auto;
  list-style-type: none;
  text-overflow: clip;
}

.address__footer {
  padding-top: 57px;
  padding-left: 49px;

}

.footer__menu-list {
  list-style: none;
  padding-top: 57px;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: normal;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  padding-top: 57px;
  padding-right: 50px;
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}